$eriri-animation__controls-btn-size: 100px;

@include pc-layout {
  #eriri-animation {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    min-width: $min-width; min-height: $min-height;
    background-color: #888;
    z-index: 1001;
    
    /**
     * bg
     */
    .bg {
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      background-color: #eee;
      box-shadow: 0 0 40px #4c4c4c;

      /*** brackets ***/
      .brackets {
        div {
          position: absolute;
          width: 20px; height: 20px;
          opacity: 0;

          &::before,
          &::after {
            content: "";
            display: block;
            background-color: #888;
            position: absolute;
          }
          &::before { width: 100%; height: 5px; }
          &::after  { width: 5px; height: 100%; }
        }
        div:nth-child(1) {
          top: 20px; left: 20px;
          transform: translate(-10px, -10px);
          &::before,
          &::after { top: 0; left: 0; }
        }
        div:nth-child(2) {
          transform: translate(10px, -10px);
          top: 20px; right: 20px;
          &::before,
          &::after { top: 0; right: 0; }
        }
        div:nth-child(3) {
          transform: translate(-10px, 10px);
          bottom: 20px; left: 20px;
          &::before,
          &::after { bottom: 0; left: 0; }
        }
        div:nth-child(4) {
          bottom: 20px; right: 20px;
          transform: translate(10px, 10px);
          &::before,
          &::after { bottom: 0; right: 0; }
        }
      }

      /*** frames ***/
      .frames {
        div {
          position: absolute;
          overflow: hidden;

          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            background-color: #aaa;
          }
        }
        div:nth-child(1),
        div:nth-child(3) {
          width: calc(100% - 120px); height: 1px;
          left: 60px;
        }
        div:nth-child(2),
        div:nth-child(4) {
          height: calc(100% - 120px); width: 1px;
          top: 60px;
        }
        div:nth-child(1) {
          top: 20px;
          &::after { transform: translateX(-100%); }
        }
        div:nth-child(3) {
          &::after { transform: translateX(100%); }
          bottom: 20px;
        }
        div:nth-child(2) {
          &::after { transform: translateY(100%); }
          left: 20px;
        }
        div:nth-child(4) {
          &::after { transform: translateY(-100%); }
          right: 20px;
        }
      }
    }

    /**
     * controls-btn
     */
    .controls-btn {
      position: absolute;
      top: 50%; left: 50%;
      margin-top: -($eriri-animation__controls-btn-size / 2);
      margin-left: -($eriri-animation__controls-btn-size / 2);
      width: $eriri-animation__controls-btn-size;
      height: $eriri-animation__controls-btn-size;

      .ring {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        border: solid 25px #666;
        box-sizing: border-box;
        border-radius: 50%;
        transform: scale(0.8);
        opacity: 0;
      }

      .play-btn {
        position: absolute;
        top: 20px; left: 35px;
        width: 0; height: 0;
        border-top: solid 30px transparent;
        border-left: solid 40px #666;
        border-bottom: solid 30px transparent;
        transform: scale(0.8);
        opacity: 0;
      }

      .stop-btn {
        position: absolute;
        top: 20px; left: 20px;
        width: 60px; height: 60px;
        background-color: #eee;
        opacity: 0;
        
        &::before,
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 5px;
          width: 18px; height: 50px;
          background-color: #666;
        }
        &::before { left: 5px; }
        &::after  { right: 5px; }
      }
    }
  }

  #eriri-animation[data-state="start"] {
    /**
     * bg
     */
    .bg {
      animation: eriri-animation__transform-bg 0.5s ease 0s forwards;
      .brackets {
        div:nth-child(1) { animation: eriri-animation__show-bracket1 0.7s ease 0.5s forwards; }
        div:nth-child(2) { animation: eriri-animation__show-bracket2 0.7s ease 0.5s forwards; }
        div:nth-child(3) { animation: eriri-animation__show-bracket3 0.7s ease 0.5s forwards; }
        div:nth-child(4) { animation: eriri-animation__show-bracket4 0.7s ease 0.5s forwards; }
      }
      .frames {
        div:nth-child(1) {
          &::after { animation: eriri-animation__show-frame1 0.7s ease 1s forwards; } }
        div:nth-child(2) {
          &::after { animation: eriri-animation__show-frame2 0.7s ease 1s forwards; } }
        div:nth-child(3) {
          &::after { animation: eriri-animation__show-frame3 0.7s ease 1s forwards; } }
        div:nth-child(4) {
          &::after { animation: eriri-animation__show-frame4 0.7s ease 1s forwards; } }
      }
    }
    
    /**
     * controls-btn
     */
    .controls-btn {
      .ring     { animation: eriri-animation__show-ring 0.35s ease 1.5s forwards; }
      .play-btn { animation: eriri-animation__show-btn 0.35s ease 1.7s forwards; }
      .stop-btn { animation: eriri-animation__show-btn 0.35s ease 3s forwards; }
    }
  }
}
