$load-view__bg-color: #eee;
$load-view__icon-size: 220px; 
$load-view__icon-point-size: 16px;
$load-view__icon-block-size: 20px;
$load-view__frame-size: calc(100% - 60px);
$load-view__frame-cross-size: 20px;
$load-view__frame-line-size: calc(100% - 60px);

@include pc-layout {
  #load-view {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    min-width: $min-width; min-height: $min-height;
    background-color: $load-view__bg-color;
    z-index: 1000;

    /**
     * load-progressbar
     */
    .load-progressbar {
      position: absolute;
      top: 50%; left: 80px;
      margin-top: -50px;
      width: calc(100% - 160px); height: 100px;
      
      .load-progressbar-line {
        position: absolute;
        right: 0; width: 100%;
        overflow: hidden;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0; right: 0;
          width: 100%; height: 100%;
          transform: translate(-100%);
          background-color: #ccc;
          opacity: 0.4;
        }
      }
      .load-progressbar-line:nth-child(1) { top: 10px; height: 4px; }
      .load-progressbar-line:nth-child(2) { top: 30px; height: 2px; }
      .load-progressbar-line:nth-child(3) { bottom: 25px; height: 6px; }
      .load-progressbar-line:nth-child(4) { bottom: 10px; height: 3px; }
      
      // animation -----------------------------------------------------------------------------
      .load-progressbar-line:nth-child(1) {
        &::after { animation: load-view__progressbar-line 1.5s ease 0s infinite; }
      }
      .load-progressbar-line:nth-child(2) {
        &::after { animation: load-view__progressbar-line 3s ease 1.5s infinite; }
      }
      .load-progressbar-line:nth-child(3) {
        &::after { animation: load-view__progressbar-line 5s ease 0.5s infinite; }
      }
      .load-progressbar-line:nth-child(4) {
        &::after { animation: load-view__progressbar-line 2s ease 1s infinite; }
      }

      .load-progressbar-mainline {
        position: absolute;
        top: 50%; right: 0;
        margin-top: -4px;
        width: 100%; height: 8px;
        overflow: hidden;

        div {
          content: "";
          display: block;
          position: absolute;
          top: 0; left: 0;
          width: 100%; height: 100%;
          transform: translateX(-100%);
          background-color: #999;
          transition: all 0.5s ease 0s;
        }
      }
    }

    /**
     * load-frame
     */
    .load-frame {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;

      .inner {
        position: absolute;
        top: 30px; left: 30px;
        width: calc(100% - 60px);
        height: calc(100% - 60px);

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 25px; left: 25px;
          width: calc(100% - 50px);
          height: calc(100% - 50px);
          border: dashed 1px #aaa;
        }
      }

      /*** load-frame-cross ***/
      .load-frame-cross {
        position: absolute;
        width: $load-view__frame-cross-size;
        height: $load-view__frame-cross-size;

        &::before,
        &::after {
          position: absolute;
          content: "";
          display: block;
          background-color: #999;
        }
        &::before {
          top: 0; left: ($load-view__frame-cross-size / 2 - 0.5);
          width: 1px; height: $load-view__frame-cross-size;
        }
        &::after {
          top: ($load-view__frame-cross-size / 2 - 0.5); left: 0;
          width: $load-view__frame-cross-size; height: 1px;
        }
      }
      .load-frame-cross:nth-child(1) {
        top: -($load-view__frame-cross-size / 2);
        left: -($load-view__frame-cross-size / 2);
      }
      .load-frame-cross:nth-child(2) {
        top: -($load-view__frame-cross-size / 2);
        right: -($load-view__frame-cross-size / 2);
      }
      .load-frame-cross:nth-child(3) {
        bottom: -($load-view__frame-cross-size / 2);
        left: -($load-view__frame-cross-size / 2);
      }
      .load-frame-cross:nth-child(4) {
        bottom: -($load-view__frame-cross-size / 2);
        right: -($load-view__frame-cross-size / 2);
      }

      /*** load-frame-line ***/
      .load-frame-line {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        
        div {
          position: absolute;
          background-color: #999;
        }
        div:nth-child(1),
        div:nth-child(3) { width: $load-view__frame-line-size; height: 1px; }
        div:nth-child(2),
        div:nth-child(4) { width: 1px; height: $load-view__frame-line-size; }
        div:nth-child(1) { top: 0; left: 30px; }
        div:nth-child(2) { top: 30px; left: 0; }
        div:nth-child(3) { bottom: -1px; left: 30px; }
        div:nth-child(4) { top: 30px; right: -1px; }
      }

      /*** load-frame-label ***/
      .load-frame-label {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;

        div { position: absolute; }
        div:nth-child(1),
        div:nth-child(3) { left: 0; width: 100%; height: 6px; }
        div:nth-child(2),
        div:nth-child(4) { top: 0; width: 6px; height: 100%; }
        div:nth-child(1) { top: 0; background-color: $theme-green; }
        div:nth-child(2) { left: 0; background-color: $theme-yellow; }
        div:nth-child(3) { bottom: 0; background-color: $theme-red; }
        div:nth-child(4) { right: 0; background-color: $theme-purple; }
      }
    }

    /**
     * load-icon
     */
    .load-icon {
      position: absolute;
      top: 50%; left: 50%;
      margin-top: -($load-view__icon-size / 2);
      margin-left: -($load-view__icon-size / 2);
      width: $load-view__icon-size;
      height: $load-view__icon-size;
      transform: rotate(-45deg);

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: #eee;
      }

      /*** load-icon-blocks ***/
      .load-icon-blocks {
        position: absolute;
        top: 50%; left: 50%;
        margin-top: -(($load-view__icon-block-size * 2 + 5) / 2);
        margin-left: -(($load-view__icon-block-size * 2 + 5) / 2);
        width: ($load-view__icon-block-size * 2 + 5);
        height: ($load-view__icon-block-size * 2 + 5);

        div {
          float: left;
          width: $load-view__icon-block-size;
          height: $load-view__icon-block-size;
          margin-right: 5px;
          margin-bottom: 5px;
          background-color: #ccc;
          border-radius: 3px;
        }
        div:nth-child(2n) { margin-right: 0; }
        &::after {
          content: "";
          display: block;
          clear: both;
        }

        // animation ---------------------------------------------------------------------------
        div:nth-child(1) { animation: load-view__icon-block1 3s ease 0s infinite; }
        div:nth-child(2) { animation: load-view__icon-block2 3s ease 0s infinite; } 
        div:nth-child(3) { animation: load-view__icon-block4 3s ease 0s infinite; }
        div:nth-child(4) { animation: load-view__icon-block3 3s ease 0s infinite; }
      }

      /*** load-icon-points ***/
      .load-icon-points {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;

        div {
          position: absolute;
          width: $load-view__icon-point-size;
          height: $load-view__icon-point-size;
          border-radius: 3px;
        }
        div:nth-child(1) { background-color: $theme-red; }
        div:nth-child(2) { background-color: $theme-yellow; }
        div:nth-child(3) { background-color: $theme-green; }
      }
      .load-icon-points:nth-child(1) {
        div:nth-child(1) { top: 0; left: 0; }
        div:nth-child(2) { top: ($load-view__icon-point-size + 5); left: 0; }
        div:nth-child(3) { top: 0; left: ($load-view__icon-point-size + 5); }
      }
      .load-icon-points:nth-child(2) {
        div:nth-child(1) { top: 0; right: 0; }
        div:nth-child(2) { top: ($load-view__icon-point-size + 5); right: 0; }
        div:nth-child(3) { top: 0; right: ($load-view__icon-point-size + 5); }
      }
      .load-icon-points:nth-child(3) {
        div:nth-child(1) { bottom: 0; left: 0; }
        div:nth-child(2) { bottom: ($load-view__icon-point-size + 5); left: 0; }
        div:nth-child(3) { bottom: 0; left: ($load-view__icon-point-size + 5); }
      }
      .load-icon-points:nth-child(4) {
        div:nth-child(1) { bottom: 0; right: 0; }
        div:nth-child(2) { bottom: ($load-view__icon-point-size + 5); right: 0; }
        div:nth-child(3) { bottom: 0; right: ($load-view__icon-point-size + 5); }
      }
      
      // animation ----------------------------------------------------------------------------
      .load-icon-points:nth-child(1) {
        div:nth-child(1) { animation: load-view__icon-point1-1 0.7s ease 0s infinite; }
        div:nth-child(2) { animation: load-view__icon-point1-2 0.7s ease 0s infinite; }
        div:nth-child(3) { animation: load-view__icon-point1-3 0.7s ease 0s infinite; }
      }
      .load-icon-points:nth-child(2) {
        div:nth-child(1) { animation: load-view__icon-point2-1 0.7s ease 0s infinite; }
        div:nth-child(2) { animation: load-view__icon-point2-2 0.7s ease 0s infinite; }
        div:nth-child(3) { animation: load-view__icon-point2-3 0.7s ease 0s infinite; }
      }
      .load-icon-points:nth-child(3) {
        div:nth-child(1) { animation: load-view__icon-point3-1 0.7s ease 0s infinite; }
        div:nth-child(2) { animation: load-view__icon-point3-2 0.7s ease 0s infinite; }
        div:nth-child(3) { animation: load-view__icon-point3-3 0.7s ease 0s infinite; }
      }
      .load-icon-points:nth-child(4) {
        div:nth-child(1) { animation: load-view__icon-point4-1 0.7s ease 0s infinite; }
        div:nth-child(2) { animation: load-view__icon-point4-2 0.7s ease 0s infinite; }
        div:nth-child(3) { animation: load-view__icon-point4-3 0.7s ease 0s infinite; }
      }
    }
  }
}
