@include pc-layout {
  #pages {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    min-width: $min-width; min-height: $min-height;
    background-color: #4c4c4c;
    overflow: hidden;
    transform: translateY(-100%);
    z-index: 1001;

    /**
     * close-btn
     */
    .close-btn {
      position: absolute;
      top: -10px; right: -10px;
      width: 100px; height: 100px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 10px #4c4c4c;
      transition: all 0.35s ease 0s;
      cursor: pointer;
      opacity: 0;
      z-index: 5;

      .inner {
        position: absolute;
        top: 25px; left: 25px;
        width: 50px; height: 50px;

        div:nth-child(1),
        div:nth-child(3) {
          position: absolute;
          top: 24.5px; left: 0;
          width: 100%; height: 1px;
          background-color: #4c4c4c;
        }
        div:nth-child(2) {
          position: absolute;
          top: 17.5px; left: 17.5px;
          width: 15px; height: 15px;
          background-color: #fff;
        }
        div:nth-child(1) { transform: rotate(45deg); }
        div:nth-child(3) { transform: rotate(-45deg); }
      }
    }
    .close-btn:hover { transform: scale(0.85); }

    /**
     * wrap
     */
    .wrap {
      position: absolute;
      top: 30px; left: 30px;
      width: calc(100% - 60px); height: calc(100% - 60px);
      background-color: #fff;
      opacity: 0;

      .inner {
        position: absolute;
        top: 10px; left: 10px;
        width: calc(100% - 20px); height: calc(100% - 20px);
        background-color: #eee;
        box-shadow: 0 0 20px #bbb inset;
        overflow: auto;
      }
    }
  }
  
  #pages[data-state="true"] {
    animation: pages__open 0.55s ease 0s forwards;

    /**
     * close-btn
     */
    .close-btn { animation: pages__show-close-btn 0.5s ease 1s forwards; }

    /**
     * wrap
     */
    .wrap { animation: pages__show-wrap 0.7s ease 0.5s forwards; }
  }

  #pages[data-state="false"] {
    animation: pages__close 0.55s ease 0s forwards;
  }
}
