@include pc-layout {
  #title-animation {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    min-width: $min-width; min-height: $min-height;
    background-color: #5C9056;
    overflow: hidden;
    z-index: 998;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: calc(50% - 2.5px); left: 0;
      width: 0%; height: 5px;
      background-color: $theme-yellow;
      z-index: 6;
    }

    /**
     * curtain
     */
    .curtain {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
     
      div {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-image: url(../images/title-animation/bg.png);
        opacity: 0;
        z-index: 1;
      }

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        transform: translateY(100%);
      }
      &::before { background-color: #ce6ede; }
      &::after  { background-color: #86308B; }
    }

    /**
     * spotlight
     */
    .spotlight {
      position: absolute;
      top: -100%; left: calc(50%);
      width: 0px; height: 300%;
      background-color: $theme-yellow;
      transform: rotate(35deg);
      z-index: 2;
    }

    /**
     * display
     */
    .display {
      position: absolute;
      top: 50%; left: 50%;
      margin-top: -225px;
      margin-left: -325px;
      width: 650px; height: 450px;
      box-shadow: 0 0 0px #333;
      z-index: 3;

      /*** bg ***/
      .bg {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;

        &::before,
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0; left: 50%;
          margin-left: 0;
          width: 0%; height: 100%;
        }
        &::before { background-color: #eee; }
        &::after  { background-color: $theme-yellow; }
      }

      /*** layer ***/
      .layer {
        position: absolute;
        top: 0; left: 0;
        width: 0%; height: 100%;
        z-index: 5;
        overflow: hidden;

        div {
          position: absolute;
          top: 0; left: 0;
          width: 650px; height: 450px;

          &::after {
            position: absolute;
            content: ""; display: block;
            top: 75px;
            width: 300px; height: 300px;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }
      .layer-1 {
        div {
          background-color: $theme-yellow;
          &::after { right: 12.5px; background-image: url(../images/title-animation/word-1.png); }
        }
      }
      .layer-2 {
        div {
          background-color: $theme-green;
          &::after { left: 12.5px; background-image: url(../images/title-animation/word-2.png); }
        }
      }
      .layer-3 {
        div {
          background-color: $theme-red;
          &::after { right: 12.5px; background-image: url(../images/title-animation/word-3.png); }
        }
      }
      .layer-4 {
        div {
          background-color: $theme-blue;
          &::after { left: 12.5px; background-image: url(../images/title-animation/word-4.png); }
        }
      }
      .layer-5 {
        div {
          background-color: $theme-purple;
          &::after { right: 12.5px; background-image: url(../images/title-animation/word-5.png); }
        }
      }
    }
  }

  #title-animation[data-state="start"] {
    &::after { animation: title-animation__close 1s ease 6s forwards; }

    /**
     * curtain
     */
    .curtain {
      &::before { animation: title-animation__close-curtain 0.7s ease 0.2s forwards; }
      &::after  { animation: title-animation__close-curtain 0.7s ease 0.3s forwards; }
      div       { animation: fadein 0.5s ease 1s forwards; }
    }
    
    /**
     * spotlight
     */
    .spotlight {
      animation:
        title-animation__show-spotlight 0.5s ease 1s forwards,
        title-animation__move-spotlight1 1s ease-out 1.5s forwards,
        title-animation__move-spotlight2 1s ease-out 2.5s forwards,
        title-animation__move-spotlight3 1s ease-out 3.5s forwards,
        title-animation__move-spotlight4 1s ease-out 4.5s forwards,
        title-animation__move-spotlight5 1s ease-out 5.5s forwards;
    }
    
    /**
     * display
     */
    .display {
      animation: title-animation__shadow-display 0.3s ease 1.6s forwards;
      
      /*** bg ***/
      .bg {
        &::before { animation: title-animation__show-display 0.5s ease 1s forwards; }
        &::after  { animation: title-animation__show-display 0.5s ease 1.1s forwards; }
      }
      
      /*** layer ***/
      .layer-1 {
        animation: title-animation__show-layer 0.3s ease-out 1.5s forwards;
        div { &::after { animation: title-animation__scale-word 1.5s ease 1.5s forwards; } }
      }
      .layer-2 {
        animation: title-animation__show-layer 0.3s ease-out 2.5s forwards;
        div { &::after { animation: title-animation__scale-word 1.5s ease 2.5s forwards; } }
      }
      .layer-3 {
        animation: title-animation__show-layer 0.3s ease-out 3.5s forwards;
        div { &::after { animation: title-animation__scale-word 1.5s ease 3.5s forwards; } }
      }
      .layer-4 {
        animation: title-animation__show-layer 0.3s ease-out 4.5s forwards;
        div { &::after { animation: title-animation__scale-word 1.5s ease 4.5s forwards; } }
      }
      .layer-5 {
        animation: title-animation__show-layer 0.3s ease-out 5.5s forwards;
        div { &::after { animation: title-animation__scale-word 1.5s ease 5.5s forwards; } }
      }
    }
  }
}
