@include pc-layout {
  #top-page {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    min-width: $min-width; min-height: $min-height;
    overflow: hidden;
    background-color: #eee;
    z-index: 1001;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background-color: $theme-yellow;
      z-index: 3;
    }

    /**
     * title-bg
     */
    .title-bg {
      position: absolute;
      top: 50%; left: 50%;
      margin-top: -42.5px;
      margin-left: -175px;
      width: 350px; height: 85px;
      background-color: #fff;
      z-index: 0;
    }

    /**
     * title
     */
    .title {
      position: absolute;
      top: 50%; left: 50%;
      margin-top: -42.5px;
      margin-left: -175px;
      width: 350px; height: 85px;
      background-color: rgba(255,255,255,0.7);
      overflow: hidden;
      z-index: 2;

      div {
        position: relative;
        float: left;
        width: 60px; height: 60px;
        margin-top: 12.5px;

        &::before,
        &::after {
          content: "";
          display: block;
          position: absolute;
        }
        &::before {
          top: 10px; left: 10px;
          width: 40px; height: 40px;
          border-radius: 50%;
          opacity: 0;
        }
        &::after {
          top: 0; left: 0;
          width: 100%; height: 100%;
          background-size: 110%;
          background-position: no-repeat;
          background-position: center;
          opacity: 0;
        }
      }
      div:nth-child(1) {
        margin-left: 25px;
        &::before { background-color: $theme-yellow; }
        &::after  {
          transform: translateY(-5px);
          background-image: url(../images/top-page/title/1.png);
        }
      }
      div:nth-child(2) {
        &::before { background-color: $theme-green; }
        &::after  {
          transform: translateY(5px) rotate(-5deg);
          background-image: url(../images/top-page/title/2.png);
        }
      }
      div:nth-child(3) {
        &::before { background-color: $theme-red; }
        &::after  {
          transform: translateY(-5px) rotate(7deg);
          background-image: url(../images/top-page/title/3.png);
        }
      }
      div:nth-child(4) {
        &::before { background-color: $theme-blue; }
        &::after  {
          transform: translateY(5px) rotate(-10deg);
          background-image: url(../images/top-page/title/4.png);
        }
      }
      div:nth-child(5) {
        &::before { background-color: $theme-purple; }
        &::after  {
          transform: translateY(-5px) rotate(5deg);
          background-image: url(../images/top-page/title/5.png);
        }
      }
    }
  }

  #top-page[data-state="start"] {
    &::after {
      animation: 
        top-page__show 0.75s ease-out 0s forwards,
        top-page__move-circle-top 0.8s ease 0.75s forwards,
        top-page__transform-square 0.35s ease 1.6s forwards,
        top-page__transform-rotate 0.35s ease 1.95s forwards,
        top-page__transform-circle 0.35s ease 2.3s forwards,
        fadeout 0.7s ease 2.65s forwards;
    }

    /**
     * title
     */
    .title {
      div {
        &::before {
          animation: 
            top-page__move-circle 0.8s ease 0.8s forwards,
            top-page__transform-square 0.35s ease 1.6s forwards,
            top-page__transform-rotate 0.35s ease 1.95s forwards,
            top-page__transform-circle 0.35s ease 2.3s forwards,
            fadeout 0.7s ease 2.65s forwards;
        }
      }
      div:nth-child(1) {
        &::before { animation: none; }
        &::after { animation: top-page__show-word1 0.7s ease 3s forwards; }
      }
      div:nth-child(2) {
        &::after { animation: top-page__show-word2 0.7s ease 3.2s forwards; }
      }
      div:nth-child(3) {
        &::after { animation: top-page__show-word3 0.7s ease 3.4s forwards; }
      }
      div:nth-child(4) {
        &::after { animation: top-page__show-word4 0.7s ease 3.6s forwards; }
      }
      div:nth-child(5) {
        &::after { animation: top-page__show-word5 0.7s ease 3.8s forwards; }
      }
    }   
  }
}
