/*** transform-bg ***/
@keyframes eriri-animation__transform-bg {
  0%   { width: 100%; height: 100%; top: 0; left: 0; }
  100% { width: calc(100% - 80px); height: calc(100% - 80px); top: 40px; left: 40px; }
}

/*** show-bracket ***/
@keyframes eriri-animation__show-bracket1 {
  0%   { opacity: 0; transform: translate(-10px, -10px); }
  100% { opacity: 1; transform: translate(0, 0); }
}
@keyframes eriri-animation__show-bracket2 {
  0%   { opacity: 0; transform: translate(10px, -10px); }
  100% { opacity: 1; transform: translate(0, 0); }
}
@keyframes eriri-animation__show-bracket3 {
  0%   { opacity: 0; transform: translate(-10px, 10px); }
  100% { opacity: 1; transform: translate(0, 0); }
}
@keyframes eriri-animation__show-bracket4 {
  0%   { opacity: 0; transform: translate(10px, 10px); }
  100% { opacity: 1; transform: translate(0, 0); }
}

/*** show-frame ***/
@keyframes eriri-animation__show-frame1 {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}
@keyframes eriri-animation__show-frame3 {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(0%); }
}
@keyframes eriri-animation__show-frame2 {
  0%   { transform: translateY(100%); }
  100% { transform: translateY(0%); }
}
@keyframes eriri-animation__show-frame4 {
  0%   { transform: translateY(-100%); }
  100% { transform: translateY(0%); }
}

/*** show-ring ***/
@keyframes eriri-animation__show-ring {
  0%   { transform: scale(0.8); border-width: 25px; opacity: 0; }
  100% { transform: scale(1); border-width: 1px; opacity: 1; }
}

/*** show-btn ***/
@keyframes eriri-animation__show-btn {
  0%   { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}


/*** sd-eriri-ring ***/
@keyframes eriri-animation__sd-eriri-ring {
  0%   { border-width: 50px; transform: scale(0.8); opacity: 0; }
  50%  { opacity: 1; }
  100% { border-width: 0px; transform: scale(1.3); opacity: 0; }
}

/*** sd-eriri-circle ***/
@keyframes eriri-animation__sd-eriri-circle {
  0%   { transform: scale(0.5); opacity: 0; }
  50%  { opacity: 1; }
  100% { transform: scale(0.8); opacity: 0; }
}

/*** sd-eriri ***/
@keyframes eriri-animation__sd-eriri {
  0%   { opacity: 0; transform: scale(0.3); }
  60%  { transform: scale(1.05); }
  80%  { transform: scale(0.95); }
  100% { opacity: 1; transform: scale(1); }
}

/*** sd-eriri-hidden ***/
@keyframes eriri-animation__sd-eriri-hidden {
  0%   { opacity: 1; }
  40%  { opacity: 0; }
  80%  { opacity: 1; }
  100% { opacity: 0; }
}

/*** sd-eriri-fail ***/
@keyframes eriri-animation__sd-eriri-fail {
  0%   { transform: translateY(-($eriri-animation__sd-eriri-size + 50px)) rotate(0deg); }
  40%  { transform: translateY(-($eriri-animation__sd-eriri-size - 80px)) rotate(25deg); }
  70%  { transform: translateY(-($eriri-animation__sd-eriri-size - 60px)) rotate(15deg); }
  100% { transform: translateY(-($eriri-animation__sd-eriri-size - 80px)) rotate(25deg); }
}
