@keyframes title-animation__close-curtain {
  0%   { border-top-right-radius: 50%; border-top-left-radius: 50%; transform: translateY(100%); }
  100% { border-top-right-radius: 0%; border-top-left-radius: 0%; transform: translateY(0%); }
}
